h1{
  text-align: right;
}

body {
border: 2px black solid;
color: blue;
margin-top: 20px;
}

ul {
  list-style-type: square;
  display: inline;
  border-radius: #333333;
  float: right;

}
div{
  padding-right: 30px;
  margin: 30px;
}
aside {
  margin-bottom: 10px;
}
p {
  display: inline;
  border-radius: 2px;
  border-width: 2px 2px 2px 2px;
  padding: 30px;
  margin: 10px;
}
p-class {
  margin-top: 2px;
}
h5{
  border-width: medium;
  background-color: yellow;
text-decoration-line: underline;
}

article {
  margin-bottom: 20px;
 border-radius: 55px 75px;
 border-color: black;
 padding: 5px;
  background-color: white;
  color: black;
}
