h1{
  text-align: right;
}

body {
background-color: #333666;
color: red;

}

ul {
  list-style-type: square;
  display: inline;
  border-radius: #333333;
  color: white;
  float: right;

}
p {
  display: inline;
  border-width: 2px 2px 2px 2px;
  padding: 30px;
  margin: 10px;
}

h5{
  border-width: medium;
  background-color: yellow;
}

article {
  margin-bottom: 20px;
 -moz-border-radius: 50px 95px;
 border-color: #556666;
 padding: 5px;
  background-color: white;
  color: black;
}
